<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<dict>
		<key>controller</key>
		<string>HomeViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>首页</string>
	</dict>
	<key>mine</key>
	<dict>
		<key>controller</key>
		<string>MineViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的</string>
	</dict>
	<key>setting</key>
	<dict>
		<key>controller</key>
		<string>SettingViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>设置</string>
	</dict>
	<key>about</key>
	<dict>
		<key>controller</key>
		<string>AboutViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>关于我们</string>
	</dict>
	<key>personinfo</key>
	<dict>
		<key>controller</key>
		<string>PersonInfoViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>个人信息</string>
	</dict>
	<key>myorderlist</key>
	<dict>
		<key>controller</key>
		<string>MyOrderListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的订单</string>
	</dict>
	<key>mysuggest</key>
	<dict>
		<key>controller</key>
		<string>MySuggestViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的推荐</string>
	</dict>
	<key>myfav</key>
	<dict>
		<key>controller</key>
		<string>MyFavViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的收藏</string>
	</dict>
	<key>sugsubmit</key>
	<dict>
		<key>controller</key>
		<string>SuggestSubmitViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我要推荐</string>
	</dict>
	<key>sugtags</key>
	<dict>
		<key>controller</key>
		<string>SuggestTagsViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>选择标签</string>
	</dict>
	<key>web</key>
	<dict>
		<key>controller</key>
		<string>ActivityWebViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动web页面</string>
	</dict>
	<key>comment</key>
	<dict>
		<key>controller</key>
		<string>CommentViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>评论页面</string>
	</dict>
	<key>login</key>
	<dict>
		<key>controller</key>
		<string>LoginViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>登录页</string>
	</dict>
	<key>register</key>
	<dict>
		<key>controller</key>
		<string>RegisterViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>注册页</string>
	</dict>
	<key>feedback</key>
	<dict>
		<key>controller</key>
		<string>FeedbackViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>意见反馈页</string>
	</dict>
	<key>fillorder</key>
	<dict>
		<key>controller</key>
		<string>SubjectOrderFillViewController</string>
		<key>desc</key>
		<string>填写订单页（id）</string>
		<key>needlogin</key>
		<true/>
	</dict>
	<key>people</key>
	<dict>
		<key>controller</key>
		<string>PeopleViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>常用出行人</string>
	</dict>
	<key>cashpay</key>
	<dict>
		<key>controller</key>
		<string>CashPayViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>收银台</string>
	</dict>
	<key>paysuccess</key>
	<dict>
		<key>controller</key>
		<string>PaySuccessViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>支付成功</string>
	</dict>
	<key>payresult</key>
	<dict>
		<key>controller</key>
		<string>PayResultViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>支付成功</string>
	</dict>
	<key>citylist</key>
	<dict>
		<key>controller</key>
		<string>CityListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>选择城市页</string>
	</dict>
	<key>orderlist</key>
	<dict>
		<key>controller</key>
		<string>OrderListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>订单列表页</string>
	</dict>
	<key>orderdetail</key>
	<dict>
		<key>controller</key>
		<string>OrderDetailViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>订单详情页(oid)</string>
	</dict>
	<key>couponlist</key>
	<dict>
		<key>controller</key>
		<string>CouponListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>红包列表页</string>
	</dict>
	<key>feeddetail</key>
	<dict>
		<key>controller</key>
		<string>FeedDetailViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>feed详情</string>
	</dict>
	<key>addcomment</key>
	<dict>
		<key>controller</key>
		<string>AddCommentViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>feed添加评论</string>
	</dict>
	<key>commentlist</key>
	<dict>
		<key>controller</key>
		<string>CommentListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>feed评论列表</string>
	</dict>
	<key>addfeed</key>
	<dict>
		<key>controller</key>
		<string>AddFeedViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>添加feed</string>
	</dict>
	<key>topiclist</key>
	<dict>
		<key>controller</key>
		<string>TopicListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>选择主题</string>
	</dict>
	<key>subjectdetail</key>
	<dict>
		<key>controller</key>
		<string>SubjectDetailViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>课程包详情页</string>
	</dict>
	<key>coursedetail</key>
	<dict>
		<key>controller</key>
		<string>CourseDetailViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>课程详情页</string>
	</dict>
	<key>bookingsubjectlist</key>
	<dict>
		<key>controller</key>
		<string>BookingSubjectListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>待选课程包列表</string>
	</dict>
	<key>bookedcourselist</key>
	<dict>
		<key>controller</key>
		<string>BookedCourseListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>已选课程列表</string>
	</dict>
	<key>bookablecourselist</key>
	<dict>
		<key>controller</key>
		<string>BookableCourseListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>可选课程列表</string>
	</dict>
	<key>book</key>
	<dict>
		<key>controller</key>
		<string>BookViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>预约课程</string>
	</dict>
	<key>courseteacherlist</key>
	<dict>
		<key>controller</key>
		<string>CourseTeacherListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>讲师团</string>
	</dict>
	<key>coursebookbrowser</key>
	<dict>
		<key>controller</key>
		<string>CourseBookBrowserViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>课前绘本</string>
	</dict>
	<key>addreview</key>
	<dict>
		<key>controller</key>
		<string>AddReviewViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>添加评价</string>
	</dict>
	<key>reviewlist</key>
	<dict>
		<key>controller</key>
		<string>ReviewListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>评价列表</string>
	</dict>
	<key>taglist</key>
	<dict>
		<key>controller</key>
		<string>TagListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>Feed选择tag列表</string>
	</dict>
	<key>userinfo</key>
	<dict>
		<key>controller</key>
		<string>UserInfoViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>第三人主页</string>
	</dict>
	<key>share</key>
	<dict>
		<key>controller</key>
		<string>ShareViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>邀请好友（分享）</string>
	</dict>
	<key>chatlist</key>
	<dict>
		<key>controller</key>
		<string>ChatListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>聊天列表</string>
	</dict>
	<key>chat</key>
	<dict>
		<key>controller</key>
		<string>ChatViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>聊天页面</string>
	</dict>
	<key>chatpublic</key>
	<dict>
		<key>controller</key>
		<string>ChatPublicViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>系统消息页面</string>
	</dict>
	<key>locationpick</key>
	<dict>
		<key>controller</key>
		<string>ChatLocationPickerViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>位置选取</string>
	</dict>
	<key>groupmember</key>
	<dict>
		<key>controller</key>
		<string>ChatGroupMemberViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>群成员列表</string>
	</dict>
	<key>chatuser</key>
	<dict>
		<key>controller</key>
		<string>ChatUserViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>聊天用户</string>
	</dict>
	<key>childinfo</key>
	<dict>
		<key>controller</key>
		<string>ChildInfoViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>孩子信息</string>
	</dict>
	<key>childlist</key>
	<dict>
		<key>desc</key>
		<string>孩子列表</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>ChildListViewController</string>
	</dict>
	<key>confirmbook</key>
	<dict>
		<key>desc</key>
		<string>确认约课</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>ConfirmBookViewController</string>
	</dict>
	<key>refunddetail</key>
	<dict>
		<key>desc</key>
		<string>退款详情</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>RefundInfoViewController</string>
	</dict>
	<key>applyrefund</key>
	<dict>
		<key>desc</key>
		<string>申请退款</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>ApplyRefundViewController</string>
	</dict>
	<key>signvip</key>
	<dict>
		<key>desc</key>
		<string>兑换vip卡</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>SignVIPCardViewController</string>
	</dict>
	<key>myaccount</key>
	<dict>
		<key>desc</key>
		<string>我的账户</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>MyAccountViewController</string>
	</dict>
	<key>myqadetail</key>
	<dict>
		<key>desc</key>
		<string>我的问答详情</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>MyQADetailViewController</string>
	</dict>
	<key>myquestion</key>
	<dict>
		<key>desc</key>
		<string>我的问题</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>MyQuestionViewController</string>
	</dict>
	<key>myanswer</key>
	<dict>
		<key>desc</key>
		<string>我的回答</string>
		<key>needlogin</key>
		<true/>
		<key>controller</key>
		<string>MyAnswerViewController</string>
	</dict>
</dict>
</plist>
