<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<dict>
		<key>controller</key>
		<string>HomeViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>首页</string>
	</dict>
	<key>mine</key>
	<dict>
		<key>controller</key>
		<string>MineViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>我的</string>
	</dict>
	<key>articlelist</key>
	<dict>
		<key>controller</key>
		<string>ArticleListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>文章列表</string>
	</dict>
	<key>web</key>
	<dict>
		<key>controller</key>
		<string>ActivityWebViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动web页面</string>
	</dict>
</dict>
</plist>
