<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<dict>
		<key>controller</key>
		<string>HomeViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>首页</string>
	</dict>
	<key>mine</key>
	<dict>
		<key>controller</key>
		<string>MineViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的</string>
	</dict>
	<key>setting</key>
	<dict>
		<key>controller</key>
		<string>SettingViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>设置</string>
	</dict>
	<key>about</key>
	<dict>
		<key>controller</key>
		<string>AboutViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>关于我们</string>
	</dict>
	<key>personinfo</key>
	<dict>
		<key>controller</key>
		<string>PersonInfoViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>个人信息</string>
	</dict>
	<key>mycollection</key>
	<dict>
		<key>controller</key>
		<string>MyCollectionViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的收藏</string>
	</dict>
	<key>myorderlist</key>
	<dict>
		<key>controller</key>
		<string>MyOrderListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的订单</string>
	</dict>
	<key>mysuggest</key>
	<dict>
		<key>controller</key>
		<string>MySuggestViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的推荐</string>
	</dict>
	<key>myfav</key>
	<dict>
		<key>controller</key>
		<string>MyFavViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我的收藏</string>
	</dict>
	<key>sugsubmit</key>
	<dict>
		<key>controller</key>
		<string>SuggestSubmitViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>我要推荐</string>
	</dict>
	<key>sugtags</key>
	<dict>
		<key>controller</key>
		<string>SuggestTagsViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>选择标签</string>
	</dict>
	<key>web</key>
	<dict>
		<key>controller</key>
		<string>ActivityWebViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动web页面</string>
	</dict>
	<key>comment</key>
	<dict>
		<key>controller</key>
		<string>CommentViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>评论页面</string>
	</dict>
	<key>login</key>
	<dict>
		<key>controller</key>
		<string>LoginViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>登录页</string>
	</dict>
	<key>register</key>
	<dict>
		<key>controller</key>
		<string>RegisterViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>注册页</string>
	</dict>
	<key>feedback</key>
	<dict>
		<key>controller</key>
		<string>FeedbackViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>意见反馈页</string>
	</dict>
	<key>fillorder</key>
	<dict>
		<key>controller</key>
		<string>FillOrderViewController</string>
		<key>desc</key>
		<string>填写订单页</string>
		<key>needlogin</key>
		<true/>
	</dict>
	<key>orderperson</key>
	<dict>
		<key>controller</key>
		<string>OrderPersonViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>选择出行人</string>
	</dict>
	<key>people</key>
	<dict>
		<key>controller</key>
		<string>PeopleViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>常用出行人</string>
	</dict>
	<key>orderupdateperson</key>
	<dict>
		<key>controller</key>
		<string>OrderUpdatePersonViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>更新出行人信息（或新增或编辑）</string>
	</dict>
	<key>cashpay</key>
	<dict>
		<key>controller</key>
		<string>CashPayViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>收银台</string>
	</dict>
	<key>paysuccess</key>
	<dict>
		<key>controller</key>
		<string>PaySuccessViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>支付成功</string>
	</dict>
	<key>payresult</key>
	<dict>
		<key>controller</key>
		<string>PayResultViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>支付成功</string>
	</dict>
	<key>productdetail</key>
	<dict>
		<key>controller</key>
		<string>ProductDetailViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动详情页(id)</string>
	</dict>
	<key>playmate</key>
	<dict>
		<key>controller</key>
		<string>PlaymateViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>玩伴</string>
	</dict>
	<key>feeddetail</key>
	<dict>
		<key>controller</key>
		<string>FeedDetailViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>feed详情</string>
	</dict>
	<key>citylist</key>
	<dict>
		<key>controller</key>
		<string>CityListViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>选择城市页</string>
	</dict>
	<key>orderlist</key>
	<dict>
		<key>controller</key>
		<string>OrderListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>订单列表页</string>
	</dict>
	<key>productplayfellow</key>
	<dict>
		<key>controller</key>
		<string>ProductPlayFellowViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>玩伴信息页</string>
	</dict>
	<key>orderdetail</key>
	<dict>
		<key>controller</key>
		<string>OrderDetailViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>订单详情页</string>
	</dict>
	<key>couponlist</key>
	<dict>
		<key>controller</key>
		<string>CouponListViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>红包列表页</string>
	</dict>
	<key>productcalendar</key>
	<dict>
		<key>controller</key>
		<string>ProductCalendarViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动日历页面</string>
	</dict>
	<key>leaderstatus</key>
	<dict>
		<key>controller</key>
		<string>LeaderStatusViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>成为领队</string>
	</dict>
	<key>applyleader</key>
	<dict>
		<key>controller</key>
		<string>ApplyLeaderViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>成为领队</string>
	</dict>
	<key>submitleader</key>
	<dict>
		<key>controller</key>
		<string>SubmitLeaderViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>提交领队申请</string>
	</dict>
	<key>selectproduct</key>
	<dict>
		<key>controller</key>
		<string>SelectProductViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>选择活动</string>
	</dict>
	<key>selectsku</key>
	<dict>
		<key>controller</key>
		<string>SelectSkuViewController</string>
		<key>needlogin</key>
		<true/>
		<key>desc</key>
		<string>选择场次</string>
	</dict>
</dict>
</plist>
