<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>carousel</key>
		<dict>
			<key>title</key>
			<string>沙滩拾贝，和孩子一起分享收获的喜悦</string>
			<key>enrollNum</key>
			<integer>12</integer>
			<key>price</key>
			<string>￥60</string>
			<key>imageList</key>
			<array>
				<dict>
					<key>url</key>
					<string>a_d_cover.jpg</string>
				</dict>
				<dict>
					<key>url</key>
					<string>home_1</string>
				</dict>
				<dict>
					<key>url</key>
					<string>home_2</string>
				</dict>
				<dict>
					<key>url</key>
					<string>home_3</string>
				</dict>
			</array>
		</dict>
		<key>enrollment</key>
		<array>
			<dict>
				<key>url</key>
				<string>activitydetail_1.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>activitydetail_2.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>activitydetail_2.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>activitydetail_1.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>activitydetail_2.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>activitydetail_2.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>activitydetail_2.jpg</string>
			</dict>
		</array>
		<key>activityinfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>a_d_umbrella</string>
				<key>title</key>
				<string>适合2-6岁儿童</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>a_d_address</string>
				<key>title</key>
				<string>上海市浦东新区上南路168号</string>
			</dict>
		</array>
		<key>activitycontent</key>
		<array>
			<dict>
				<key>title</key>
				<string>活动特色</string>
				<key>content</key>
				<string>1.我都加萨科技法律上开发健康我就爱卡斯交罚款了\n2.kasjflsjfklas</string>
			</dict>
			<dict>
				<key>title</key>
				<string>活动说明</string>
				<key>content</key>
				<string>1、你你你你你你你你你你你你你你你你你你你你</string>
			</dict>
			<dict>
				<key>title</key>
				<string>活动流程</string>
				<key>content</key>
				<string>9:45集合\n\n10:00入馆\n10:35开场白</string>
			</dict>
			<dict>
				<key>title</key>
				<string>达人介绍</string>
				<key>content</key>
				<string>1、哦我放假萨拉克附近萨洛克封建礼教看的撒加分了就肯定是减肥了睡觉奥反馈\n2、卡上就发了才看见畅聊卡京东上</string>
				<key>url</key>
				<string>home_carousel</string>
			</dict>
		</array>
	</dict>
	<key>errmsg</key>
	<string>success</string>
	<key>errno</key>
	<integer>0</integer>
	<key>timestamp</key>
	<integer>1434006237071</integer>
</dict>
</plist>
