<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>url</key>
				<string>home_1</string>
				<key>title</key>
				<string>上海野生动物园，带着孩纸去看猴子吧</string>
				<key>desc</key>
				<string>上海野生动物园</string>
				<key>time</key>
				<string>每周末09:30</string>
				<key>enrollmentNum</key>
				<integer>150</integer>
				<key>price</key>
				<real>56.5</real>
			</dict>
			<dict>
				<key>url</key>
				<string>home_1</string>
				<key>title</key>
				<string>北京野生动物园，带着孩纸去看猴子吧</string>
				<key>desc</key>
				<string>北京野生动物园</string>
				<key>time</key>
				<string>每周一12：45</string>
				<key>enrollmentNum</key>
				<integer>250</integer>
				<key>price</key>
				<integer>130</integer>
			</dict>
		</array>
	</dict>
	<key>errmsg</key>
	<string>success</string>
	<key>errno</key>
	<integer>0</integer>
	<key>timestamp</key>
	<integer>1434006237071</integer>
</dict>
</plist>
